#### Access Bitcoin Price

### NOT IN USE - y-finance data does not start until much later than 2010

In [1]:
import yfinance as yf
import pandas as pd
from pathlib import Path

In [2]:
# Define the date range
start_date = "2010-01-01"

In [ ]:
# Get the root of your project 
project_root = Path.cwd().parents[1] # navigate 2 levels up in directory

# Construct the full path to data/raw
data_dir_to_save = project_root / 'data' / 'raw'
data_dir_to_save.mkdir(parents=True, exist_ok=True)  # creates dirs if needed

SAVE_FILE_PATH = data_dir_to_save / 'btc_prices_raw.csv'

In [15]:
# Download monthly S&P 500 prices
df_btc = yf.download("BTC-USD", start=start_date, interval="1mo", group_by="ticker")

C:\Users\MikeD\AppData\Local\Temp\ipykernel_14756\930563648.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_btc = yf.download("BTC-USD", start=start_date, interval="1mo", group_by="ticker")
[*********************100%***********************]  1 of 1 completed

In [16]:
# Download monthly gold prices since 2010-01-01
df_btc.head()

Ticker         BTC-USD
Price             Open        High         Low       Close      Volume
Date
2014-09-01  465.864014  468.174011  372.239990  386.944000   410881000
2014-10-01  387.427002  411.697998  289.295990  338.321014   902994450
2014-11-01  338.649994  457.092987  320.626007  378.046997   659733360
2014-12-01  378.248993  384.037994  304.231995  320.192993   553102310
2015-01-01  320.434998  320.434998  171.509995  217.464005  1098811912

In [17]:
df_btc.columns

MultiIndex([('BTC-USD',   'Open'),
            ('BTC-USD',   'High'),
            ('BTC-USD',    'Low'),
            ('BTC-USD',  'Close'),
            ('BTC-USD', 'Volume')],
           names=['Ticker', 'Price'])

In [18]:
df_btc.columns = df_btc.columns.droplevel(0)  # drops 'Ticker' level

In [19]:
df_btc.head()

Price             Open        High         Low       Close      Volume
Date
2014-09-01  465.864014  468.174011  372.239990  386.944000   410881000
2014-10-01  387.427002  411.697998  289.295990  338.321014   902994450
2014-11-01  338.649994  457.092987  320.626007  378.046997   659733360
2014-12-01  378.248993  384.037994  304.231995  320.192993   553102310
2015-01-01  320.434998  320.434998  171.509995  217.464005  1098811912

In [20]:
# If multi-index columns, extract Close price
if isinstance(df_btc.columns, pd.MultiIndex):
    df_btc = df_btc['Close']['GLD']
else:
    df_btc = df_btc['Close']

In [21]:
df_btc.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 130 entries, 2014-09-01 to 2025-06-01
Series name: Close
Non-Null Count  Dtype
--------------  -----
130 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB

In [22]:
# Convert to DataFrame, reset index
# Convert to DataFrame, reset index
df_btc = df_btc.to_frame(name='BTC_$').reset_index()

In [24]:
df_btc.head()

        Date       BTC_$
0 2014-09-01  386.944000
1 2014-10-01  338.321014
2 2014-11-01  378.046997
3 2014-12-01  320.192993
4 2015-01-01  217.464005

In [25]:
df_btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    130 non-null    datetime64[ns]
 1   BTC_$   130 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.2 KB

In [26]:
df_btc['BTC_$'] = round(df_btc['BTC_$'], 1)

In [27]:
df_btc.sample(10)

          Date     BTC_$
43  2018-04-01    9240.5
20  2016-05-01     531.4
83  2021-08-01   47166.7
55  2019-04-01    5350.7
15  2015-12-01     430.6
124 2025-01-01  102405.0
101 2023-02-01   23147.4
8   2015-05-01     230.2
71  2020-08-01   11680.8
42  2018-03-01    6973.5

In [28]:
# Save your file
df_btc.to_csv(SAVE_FILE_PATH, index=False)