#### Access S&P Price

In [39]:
import yfinance as yf
import pandas as pd
from pathlib import Path

In [40]:
# Define the date range
start_date = "2010-01-01"

In [ ]:
# Get the root of your project 
project_root = Path.cwd().parents[1]

# Construct the full path to data/raw
data_dir_to_save = project_root / 'data' / 'raw'
data_dir_to_save.mkdir(parents=True, exist_ok=True)  # creates dirs if needed

SAVE_FILE_PATH = data_dir_to_save / 'sp500_prices_raw.csv'

In [42]:
# Download monthly S&P 500 prices
df_sp = yf.download("^GSPC", start=start_date, interval="1mo", group_by="ticker")

C:\Users\MikeD\AppData\Local\Temp\ipykernel_432\597093768.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_sp = yf.download("^GSPC", start=start_date, interval="1mo", group_by="ticker")
[*********************100%***********************]  1 of 1 completed

In [43]:
# Download monthly gold prices since 2010-01-01
df_sp.head()

Ticker            ^GSPC
Price              Open         High          Low        Close        Volume
Date
2010-01-01  1116.560059  1150.449951  1071.589966  1073.869995   90947580000
2010-02-01  1073.890015  1112.420044  1044.500000  1104.489990   84561340000
2010-03-01  1105.359985  1180.689941  1105.359985  1169.430054  103683550000
2010-04-01  1171.229980  1219.800049  1170.689941  1186.689941  116741910000
2010-05-01  1188.579956  1205.130005  1040.780029  1089.410034  127662780000

In [44]:
df_sp.columns

MultiIndex([('^GSPC',   'Open'),
            ('^GSPC',   'High'),
            ('^GSPC',    'Low'),
            ('^GSPC',  'Close'),
            ('^GSPC', 'Volume')],
           names=['Ticker', 'Price'])

In [45]:
df_sp.columns = df_sp.columns.droplevel(0)  # drops 'Ticker' level

In [46]:
df_sp.head()

Price              Open         High          Low        Close        Volume
Date
2010-01-01  1116.560059  1150.449951  1071.589966  1073.869995   90947580000
2010-02-01  1073.890015  1112.420044  1044.500000  1104.489990   84561340000
2010-03-01  1105.359985  1180.689941  1105.359985  1169.430054  103683550000
2010-04-01  1171.229980  1219.800049  1170.689941  1186.689941  116741910000
2010-05-01  1188.579956  1205.130005  1040.780029  1089.410034  127662780000

In [47]:
# If multi-index columns, extract Close price
if isinstance(df_sp.columns, pd.MultiIndex):
    df_sp = df_sp['Close']['GLD']
else:
    df_sp = df_sp['Close']

In [48]:
df_sp.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 186 entries, 2010-01-01 to 2025-06-01
Series name: Close
Non-Null Count  Dtype
--------------  -----
186 non-null    float64
dtypes: float64(1)
memory usage: 2.9 KB

In [49]:
# Convert to DataFrame, reset index
# Convert to DataFrame, reset index
df_sp = df_sp.to_frame(name='S&P500_$').reset_index()

In [50]:
df_sp.head()

        Date     S&P500_$
0 2010-01-01  1073.869995
1 2010-02-01  1104.489990
2 2010-03-01  1169.430054
3 2010-04-01  1186.689941
4 2010-05-01  1089.410034

In [51]:
df_sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      186 non-null    datetime64[ns]
 1   S&P500_$  186 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.0 KB

In [52]:
df_sp['S&P500_$'] = round(df_sp['S&P500_$'], 1)

In [53]:
df_sp.sample(10)

          Date  S&P500_$
136 2021-05-01    4204.1
10  2010-11-01    1180.6
180 2025-01-01    6040.5
158 2023-03-01    4109.3
131 2020-12-01    3756.1
167 2023-12-01    4769.8
47  2013-12-01    1848.4
117 2019-10-01    3037.6
163 2023-08-01    4507.7
111 2019-04-01    2945.8

In [54]:
# Save your file
df_sp.to_csv(SAVE_FILE_PATH, index=False)