#### Access Oil Price

In [2]:
import yfinance as yf
import pandas as pd
from pathlib import Path

In [18]:
# Get the root of your project 
project_root = Path.cwd().parents[1]

# Construct the full path to data/raw
data_dir_to_save = project_root / 'data' / 'raw'
data_dir_to_save.mkdir(parents=True, exist_ok=True)  # creates dirs if needed

SAVE_FILE_PATH = data_dir_to_save / 'oil_prices_raw.csv'

In [4]:
# Define the ticker symbol for gold futures
oil = yf.download("CL=F", start="2010-01-01", interval="1mo")

C:\Users\MikeD\AppData\Local\Temp\ipykernel_1484\872077995.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  oil = yf.download("CL=F", start="2010-01-01", interval="1mo")
[*********************100%***********************]  1 of 1 completed

In [22]:
# Download monthly gold prices since 2010-01-01
oil.tail(50)

Date
2020-10-01     35.790001
2020-12-01     48.520000
2021-01-01     52.200001
2021-02-01     61.500000
2021-03-01     59.160000
2021-04-01     63.580002
2021-05-01     66.320000
2021-06-01     73.470001
2021-07-01     73.949997
2021-09-01     75.029999
2021-10-01     83.570000
2021-11-01     66.180000
2021-12-01     75.209999
2022-01-01     88.150002
2022-02-01     95.720001
2022-03-01    100.279999
2022-04-01    104.690002
2022-06-01    105.760002
2022-07-01     98.620003
2022-08-01     89.550003
2022-09-01     79.489998
2022-10-01     86.529999
2022-11-01     80.550003
2022-12-01     80.260002
2023-02-01     77.050003
2023-03-01     75.669998
2023-04-01     76.779999
2023-05-01     68.089996
2023-06-01     70.639999
2023-07-01     81.800003
2023-08-01     83.629997
2023-09-01     90.790001
2023-11-01     75.959999
2023-12-01     71.650002
2024-01-01     75.849998
2024-02-01     78.260002
2024-03-01     83.169998
2024-04-01     81.930000
2024-05-01     76.989998
2024-06-01     81.540001
2024-07-01     77.910004
2024-08-01     73.550003
2024-10-01     69.260002
2024-11-01     68.000000
2025-01-01     72.529999
2025-02-01     69.760002
2025-03-01     71.480003
2025-04-01     58.209999
2025-05-01     60.790001
2025-06-23     73.959999
Name: CL=F, dtype: float64

In [7]:
gold.columns

MultiIndex([( 'Close', 'GLD'),
            (  'High', 'GLD'),
            (   'Low', 'GLD'),
            (  'Open', 'GLD'),
            ('Volume', 'GLD')],
           names=['Price', 'Ticker'])

In [6]:
oil.columns

MultiIndex([( 'Close', 'CL=F'),
            (  'High', 'CL=F'),
            (   'Low', 'CL=F'),
            (  'Open', 'CL=F'),
            ('Volume', 'CL=F')],
           names=['Price', 'Ticker'])

In [8]:
# If multi-index columns, extract Close price
if isinstance(oil.columns, pd.MultiIndex):
    oil = oil['Close']['CL=F']
else:
    oil = oil['Close']

In [9]:
# Convert to DataFrame, reset index
oil_df = oil.to_frame(name='Oil_Price_USD').reset_index()

In [24]:
oil_df.tail(50)

          Date  Oil_Price_USD
110 2020-10-01           35.8
111 2020-12-01           48.5
112 2021-01-01           52.2
113 2021-02-01           61.5
114 2021-03-01           59.2
115 2021-04-01           63.6
116 2021-05-01           66.3
117 2021-06-01           73.5
118 2021-07-01           73.9
119 2021-09-01           75.0
120 2021-10-01           83.6
121 2021-11-01           66.2
122 2021-12-01           75.2
123 2022-01-01           88.2
124 2022-02-01           95.7
125 2022-03-01          100.3
126 2022-04-01          104.7
127 2022-06-01          105.8
128 2022-07-01           98.6
129 2022-08-01           89.6
130 2022-09-01           79.5
131 2022-10-01           86.5
132 2022-11-01           80.6
133 2022-12-01           80.3
134 2023-02-01           77.1
135 2023-03-01           75.7
136 2023-04-01           76.8
137 2023-05-01           68.1
138 2023-06-01           70.6
139 2023-07-01           81.8
140 2023-08-01           83.6
141 2023-09-01           90.8
142 2023-11-01           76.0
143 2023-12-01           71.7
144 2024-01-01           75.8
145 2024-02-01           78.3
146 2024-03-01           83.2
147 2024-04-01           81.9
148 2024-05-01           77.0
149 2024-06-01           81.5
150 2024-07-01           77.9
151 2024-08-01           73.6
152 2024-10-01           69.3
153 2024-11-01           68.0
154 2025-01-01           72.5
155 2025-02-01           69.8
156 2025-03-01           71.5
157 2025-04-01           58.2
158 2025-05-01           60.8
159 2025-06-23           74.0

In [12]:
# Round close price
oil_df['Oil_Price_USD'] = oil_df['Oil_Price_USD'].round(1)

In [13]:
oil_df.sample(20)

          Date  Oil_Price_USD
32  2013-02-01           92.1
143 2023-12-01           71.7
12  2011-02-01           97.0
149 2024-06-01           81.5
90  2018-11-01           50.9
137 2023-05-01           68.1
130 2022-09-01           79.5
72  2017-02-01           54.0
152 2024-10-01           69.3
127 2022-06-01          105.8
28  2012-10-01           86.2
125 2022-03-01          100.3
34  2013-04-01           93.5
118 2021-07-01           73.9
113 2021-02-01           61.5
15  2011-06-01           95.4
132 2022-11-01           80.6
43  2014-03-01          101.6
29  2012-11-01           88.9
23  2012-03-01          103.0

In [14]:
oil_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           160 non-null    datetime64[ns]
 1   Oil_Price_USD  160 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.6 KB

In [19]:
oil_df.to_csv(SAVE_FILE_PATH, index=False)